<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>SpotDownloader</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/funciones.js') }}"></script>
<!--
    1-Obtener la url de la cancion o video
    2-Obtener la caratula y nombre de la cancion
    3-Descargar la cancion en la calidad seleccionada
-->
</head>
<body>
    <div class="container">
        <div class="btn tab" onclick="location.href='/DSP'">
            <i class="fa fa-spotify" aria-hidden="true" style="font-size: 1.1rem; margin:5px;"></i>
            Spotify
        </div>
        <div class="btn tab" onclick="location.href='/DYT'">
            <i class="fa fa-youtube-play" aria-hidden="true" style="font-size: 1.1rem; margin:5px;"></i>
            YouTube
        </div>
    </div>
    <div class="tab-content active">
        <div class="msg-container">
                <span class="msg-danger txt-large">Pagina en desarrollo</span>
            </div>
        <h2 class="Title">Descargar musica de <span style="text-align:center; color:white; background-color: green; padding:10px; border-radius:15px;"><i class="fa fa-spotify" aria-hidden="true" style="font-size: 1.5rem; margin:5px;"></i>Spotify</span></h2>
        <form action="/Buscar" method="post">
            <input class="input disabled" type="url" name="numero1" placeholder="URL" step="any" required>
            <button class="btn disabled" type="submit">Buscar</button>
        </form>
{% if mostrar_contenido %}
<div class="content">
    <!--Obtener el link de la musica-->
    <img class="img-YouTube" src="{{thumbnail}}" alt="">
    <p style="margin-bottom:20px; font-style:Bold;">{{titulo}}</p>
    <div class="downloadBox">
        <div class="msg-container">
                <span id="Alerta" class="msg-danger">{{mensaje}}</span>
        </div>
    </div>
    <div class="downloadBox">
        <ul class="list">
            <form action="/descargar" method="post">
                <input value="{{url}}" name="url" hidden>
                <input value="320" name="quality" hidden>
                <dt class="listOption"><span class="msg-accept txt-xxsmall">Mejor Calidad</span><span>mp3</span><span>320kbps</span><button class="btn" type="submit" onclick="msgCargando()">descargar</button></dt>
            </form>
            <form action="/descargar" method="post">
                <input value="{{url}}" name="url" hidden>
                <input value="256" name="quality" hidden>
                <dt class="listOption"><span>mp3</span><span>256kbps</span><button class="btn" type="submit" onclick="msgCargando()">descargar</button></dt>
            </form>
            <form action="/descargar" method="post">
                <input value="{{url}}" name="url" hidden>
                <input value="128" name="quality" hidden>
                <dt class="listOption"><span>mp3</span><span>128kbps</span><button class="btn" type="submit" onclick="msgCargando()">descargar</button></dt>
            </form>
        </ul>
    </div>
</div>
{% else %}
        <p></p>
{% endif %}
    </div>

  </body>
</html>
